@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 18px/1.2 Inter, sans-serif;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    max-width: 1622px;
    display: flex;
    margin: 2.6em 1em;
    gap: 1.6em;
    justify-content: center;
}

.main-content {
    width: 54%;
}

.article-content, aside {
    background-color: #fff;
}

.article-content {
    display: flex;
    padding: 3.47em 2.60em 2.60em 2.60em;
    gap: 2em;
    align-items: flex-start;
}

.article-content i {
    font-size: 3.5em;
    margin-bottom: 0.3em;
}

.article-content:not(:last-child) {
    margin-bottom: 1.6em;
}

article p {
    color: #595959;
    margin-bottom: 1.5em;
}

article .author {
    font-size: 23px;
    font-weight: 600;
}

.media img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 10em;
    object-fit: cover;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.7em 2.5em 1em 2em;
    width: 28%;
}

aside i {
    font-size: 5em;
    margin-bottom: 0.7em;
}

.aside-section {
    display: flex;
    align-items: center;
    gap: 1em;
    border-top: 1.5px solid #D9D9D9;
    padding: 1em 1em 1em 0;
}

.aside-section img {
    width: 5em;
    filter: grayscale(100%);
}

.aside-section .author {
    display: inline-block;
    padding-bottom: 0.1em;
}

.aside-section .profession {
    font-size: 12px;
    font-weight: bold;
    opacity: 0.9;
}