@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 12px/1.5 Ubuntu, sans-serif;
    margin: 0 auto;
    text-align: center;
}

header {
    display: flex;
    padding-top: 1.5em;
    padding-bottom: 2.5em;
    padding-right: 2.5em;
    justify-content: space-between;
}

header .title {
    display: flex;
    gap: 1.5em;
}

header .title h1 {
    font-size: 35px;
    color: #313131;
    padding-left: 1.5em;
}

header .title .subtitle {
    color: #808080;
    letter-spacing: 0.2cap;
    border-left: 2px solid #DBDBDB;
    padding-left: 2.5em;
    padding-top: 2em;
    align-self: flex-end;
}

header nav ul {
    display: flex;
    gap: 0.1em;
}

header nav ul li {
    background: #ECECEC;
    list-style: none;
    padding: 1.5em;
    letter-spacing: 0.1cap;
}

header nav ul li a {
    color: #696969;
    text-decoration: none;
}

header nav ul .homepage {
    background-color: #56DBB1;
}

header nav ul .homepage a {
    color: #000;
}

img {
    display: block;
    background-size: cover;
    width: 100%;
}

.content {
    padding: 4em 15em;
    background-color: #56DBB1;
}

.main-content,
.last-content {
    display: flex;
    gap: 3em;
    padding: 7em 4em;
    background-color: #353434;
}

.main-content h4,
.last-content h1 {
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
}

.main-content h4 {
    font-size: 14px;
}

.main-content p,
.last-content p {
    color: #5B5956;
    font-style: normal;
    line-height: 2;
}

.main-content p {
    border-top: 1px solid #eee;
    padding-top: 1em;
}

.main-content i {
    color: #fff;
    font-size: 35px;
    padding: 0.4em;
    background-color: #56DBB1;
}

.section-between {
    padding: 5em;
}

.section-between h1 {
    color: #5F5F5F;
}

.section-between p {
    color: #C3BCB8;
    padding-bottom: 2.5em;
}

.section-between .button {
    padding: 1.2em 2.4em;
    background-color: #974D1B;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.2cap;
    font-size: 10px;
}

.last-content h1 {
    font-size: 20px;
}

.last-content p {
    padding-left: 1em;
    padding-right: 1em;
}

footer {
    background-color: #1B9772;
    padding: 3em;
    color: #56DBB1;
    letter-spacing: 0.2cap;
}

footer .special {
    color: #fff;
}