* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body, input, textarea, option, select, table {
    font: inherit;
}

body {
    border: 2px solid green;
    padding: 2em;
}

.section {
    border: 2px solid blue;
    padding: 2em max(calc((100vw - 900px) / 2));
}

.section + .section {
    margin-top: 2em;
}

.section-header {
    background: #eee;   
}