@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body, 
input, 
textarea,
select,
option {
    font: inherit;
}

body {
    padding: 2em;
}

h2 {
    margin-top: 2em;
}

.fieldset-paragraph {
    display: block;
    background: #eee;
    padding: 2em 0.5em 2em 2em;
    border-radius: 0.3em;
    margin: 2em 0;
    border: 1px solid #ccc;
    overflow: auto;
}

fieldset {
    padding: 2em;
    border: 2px solid #ccc;
    max-width: 50ch;
}

fieldset legend {
    padding: 0 1em;
    font-weight: bold;
}

fieldset label {
    font-weight: bold;
}

fieldset input {
    display: block;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 0.3em;
    padding: 0.5em;
}

input:focus {
    border-color: #090;
}

.field {
    padding-bottom: 1.5em;
}